.container{
    display: flex;
    gap: 10px;
}
p{
    min-width: 700px;
    max-width: 900px;
}

.container1{
    display: flex;
    gap: 10px;
}
.red{
    height: 200px;
    width: 200px;
    background-color: red;
    flex-basis: 100px;
    flex-grow: 1;
    
}
.blue{
    height: 200px;
    width: 200px;
    background-color: blue;
    flex-shrink: 0;
}
.violet{
    height: 200px;
    width: 200px;
    background-color: violet;
}
.green{
    height: 200px;
    width: 200px;
    background-color: green;
}